<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Admin Page</title>
</head>
<body>
    <h1>Welcome to the ADMIN Page!</h1>
    <p>Restricted access for admin users.</p>
    <div>
        <a th:href="@{/home}">HOME</a>
    </div>
    <div>
        <a th:href="@{/user/liste}">USERS LIST</a>
    </div>
    <div>
        <a th:href="@{/admin/adduser}">ADD USER</a>
    </div>
    <div>
        <a th:href="@{/admin/modifyuser}">MODIFY USER</a>
    </div>
    <br>
    <form th:action="@{/logout}" method="post">
    <button type="submit">DECONNEXION</button>
    </form>
</body>
</html>