<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<body>
    <h2>Acces restreint-Connexion requise</h2>
    <div th:if="${param.error}">Username ou mot de passe invalide</div>
    <div th:if="${param.logout}">Vous avez été déconnecté</div>
    <form th:action="@{/login}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required/>
        <br/>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required/>
        <br/>
        <button type="submit">Login</button>
        <div>
            <p><a th:href="@{/home}">HOME</a></p>
        </div>
    </form>
</body>
</html>