<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>users</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/js/filter.js"></script>
</head>
<body>
    <h2>USERS LIST</h2>
    <hr>
    <div>
        <h2>Recherche</h2>
        <label for="filterUsername">Chercher par nom d'utilisateur :</label>
        <input type="text" id="filterUsername" />
    
    <button onclick="filterUsers()">Filtrer</button>
    </div>
    <hr>
    <div>
        <table>
            <thead>
                <tr>
                    <th hidden>Id</th>
                    <th>UserName</th>
                    <th>Role</th>
                 </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${liste}">
                    <td th:text="${user.id}" hidden></td>
                    <td th:text="${user.username}"></td>
                    <td>
                        <ul>
                            <li th:each="role : ${user.roles}" th:text="${role.libelle}"></li>
                        </ul>
                    </td>
                    <td>
                        <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:href="@{/admin/modifyrole/{id}(id=${user.id})}">modify role</a>
                    </td>
                    
                    <td>
                        <a type="button" th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:href="@{/admin/modifyuser/{id}(id=${user.id})}">modify user</a>
                    </td>
                   
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div><a th:href="@{/home}">HOME</a></div>
    

</body>
</html>